<footer class="footer">
  <div class="footer-items">
    <div class="footer__left">
      <%= link_to "https://github.com/ovcOS" do %>
        <%= icon("fab", "github", class: "footer__icon") %>
      <% end %>

      <%= link_to "https://www.facebook.com" do %>
        <%= icon("fab", "facebook", class: "footer__icon") %>
      <% end %>

      <%= link_to "https://instagram.com" do %>
        <%= icon("fab", "instagram", class: "footer__icon") %>
      <% end %>
    </div>
    <div class="footer__right">
      This page was developed with ❤️ by the AppProQuo®️ team
    </div>
  </div>
</footer>
