  <div class="add_puppy banner" style="background-image: linear-gradient(180deg, rgba(255,255,255,0) 0, rgba(255,255,255,0.8) 50%), url('https://images.unsplash.com/photo-1529927066849-79b791a69825?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=62b4436955bfd4ff22942d26abebb3c2&auto=format&fit=crop&w=1949&q=80');">

<div id="sign_up">
    <div class= "form__sign-up-message">
      <div class="add-puppy-content">
        <div class="form__sign-up-message-inner">
          <div class= "add-form__description">
            <h2><strong>List</strong> your <strong>puppy</strong> and let someone <strong>babysit</strong> him/her for just a few hours.</h2>
          </div>
        </div>
        <div class="form">
          <div class="form__title">
            <div class="form__text">Add a Puppy</div>
          </div>
          <%= minimal_form_for @puppy do |f| %>
          <div class="form__content">
            <%= f.input :name %>
            <%= f.input :age  %>
            <%= f.input :gender %>
            <%= f.association :breed, prompt: 'Select breed'%>
            <%= f.input :description %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Add", class:'form__submit form__text'%>
          </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

