<div class="form">
  <div class="form__title">
    <div class="form__text">Add a Puppy</div>
  </div>
  <%= minimal_form_for @puppy do |f| %>
    <div class="form__content">
      <%= f.input :name %>
      <%= f.input :age  %>
      <%= f.input :gender %>
      <%= f.association :breed %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Add", class:'form__submit form__text'%>
    </div>
  <% end %>
</div>
