<div id="puppModal" class="modal">
  <div class="modal-content" style="background-image: linear-gradient(180deg, rgba(255,255,255,0.65) 0, rgba(255,255,255,0.8) 100%), url('<%= @puppy.photo %>');">
   <span class="close">&times;</span>
    <div class="confirmation-text">
      <h1><strong>Requested!</strong></h1>
      <h4>We'll let you know when <%= @puppy.name.capitalize %>'s owner confirms!</h4>
    </div>
  </div>
</div>

<div id="show_puppy_page">
  <div class="bannvatar">
    <div class= "bannvatar__banner" style="background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(http://www.placepuppy.net/<%=rand(1..20)%>p/1300/600);
  "></div>
    <div class="bannvatar__image" style="background-image: url('<%= @puppy.photo %>')"></div>
  </div>
  <div class="show_puppy_container">
    <div class="content_container">
      <div class="content_title">Hi, I'm <%= @puppy.name.capitalize %>!</div>
      <p class="content_pg"><%= @puppy.description %></p>
      <div class="content_title">Description</div>
      <ul class='desc_list'>
        <li>Breed: <%= @puppy.breed.name.capitalize %></li>
        <li>Age: <%= @puppy.age * 12 %> months old</li>
        <li>Gender: <%= @puppy.gender.capitalize %></li>
      </ul>
    </div>
    <div class="form_container">
      <div class="form">
       <div class="form__title">
         <div class="form__text">Hang with <%= @puppy.name.capitalize %> today!</div>
       </div>
       <%= minimal_form_for [@puppy, @booking] do |f| %>
         <div class="form__content">
           <%= f.input :starts_at, wrapper: :horizontal_select_date, selected: Time.now%>
           <%= f.input :ends_at, wrapper: :horizontal_select_date, selected: Time.now + 1.hours %>
         </div>
         <div class="form-actions">
           <%= f.button :submit, "Book", id: "btn_pupp", class:'form__submit form__text' %>
         </div>
       <% end %>
      </div>
    </div>
  </div>
</div>
