<div class="banner" style="background-image: linear-gradient(180deg, rgba(255,255,255,0) 0, rgba(255,255,255,0.8) 100%), url('https://images.unsplash.com/photo-1519705733052-abc8faae00f6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=521fb44ff67ece7efe8f268d3d2d7e29&auto=format&fit=crop&w=1651&q=80');">
  <div class="banner__intro">
    <h1>Puppies are awesome.</h1>
    <h3><strong>Babysit</strong> one</h3>
    <button id='go-to-puppies' class="btn_pupp">Find a puppy</button>
  </div>
</div>
<div class="intro">
  <div class="intro__title">
    <h3>Hi, we're<%= image_tag 'PUPP.svg' %> </h3>
    <h4> If there’s one thing we can all agree upon, it’s that puppies are awesome. We connect dog owners and people who want to hang out with puppies.  Puppies can be a big investment, and a ton of work. Maybe you’re looking to test the waters of what it might be like? Or maybe you just want to hang out with a little puppy. Either way, we’ve got you covered. </h4>
    <div style='margin-top: 27px;'><a href="/about" class="btn_pupp">About us</a></div>
  </div>
</div>
<div id='cards-container' class="cards-container">
  <div id="row">
    <h2>Bulldogs</h2>
    <% @bulldog.each do |puppy| %>
      <div class="col-xs-12 col-md-4 ">
        <%= link_to puppy_path(puppy) do %>
          <div class="card">
            <div class="card__image" style="background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= puppy.photo %>);"></div>
            <div class="card__content">
              <div class="card__title">
                <h4><%= puppy.name.capitalize %></h4>
              </div>
            </div>
            <div class="card__overlay">
              <div class="card__text">
                <h4><%= puppy.name %></h4>
                <p><%= puppy.breed.name.capitalize %></p>
                <p><%= puppy.age*12 %> months old</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="cards-container">
  <div id="row">
    <h2>Labradors</h2>
    <% @labrador.each do |puppy| %>
      <div class="col-xs-12 col-md-4">
        <%= link_to puppy_path(puppy) do %>
          <div class="card">
            <div class="card__image" style="background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= puppy.photo %>);"></div>
            <div class="card__content">
              <div class="card__title">
                <h4><%= puppy.name.capitalize %></h4>
              </div>
            </div>
            <div class="card__overlay">
              <div class="card__text">
                <h4><%= puppy.name %></h4>
                <p><%= puppy.breed.name.capitalize %></p>
                <p><%= puppy.age*12 %> months old</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="cards-container">
  <div id="row">
    <h2>Youngest Pups</h2>
    <% @youngestpups.each do |puppy| %>
      <div class="col-xs-12 col-md-4">
        <%= link_to puppy_path(puppy) do %>
          <div class="card">
            <div class="card__image" style="background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(<%= puppy.photo %>);"></div>
            <div class="card__content">
              <div class="card__title">
                <h4><%= puppy.name.capitalize %></h4>
              </div>
            </div>
            <div class="card__overlay">
              <div class="card__text">
                <h4><%= puppy.name %></h4>
                <p><%= puppy.breed.name.capitalize %></p>
                <p><%= puppy.age*12 %> months old</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
