<div id="banner">
  <%= image_tag "PUPP.svg", class: "banner__image" %>
  <div class="banner__intro">
    Welcome to Pupp, the cuttest puppies are waiting for you. Set play dates with any listed puppy. It doesn't matter if you're looking for joy or a cure for sadness, puppy cuteness is always the solution.
  </div>
  <button id=btn-5 >
    Choose a puppy
  </button>
</div>
<div class='container'>
  <div id='row'>
    <div class="cards-container">
      <% @puppies.each do |puppy| %>
      <div class="col-xs-12 col-sm-4">
        <div style="background-image: url(<%= puppy.photo %>)" class="card-div"  >
          <div class="card-title">
            <%= puppy.name.capitalize%>
          </div>

          <div class="card-icons">
            <div>
              <%= link_to "<i class='fas fa-plus'></i>".html_safe, puppy_path(puppy) %>
            </div>
            <div>
              <%= link_to "<i class='fas fa-heart'></i>".html_safe, puppy_path(puppy) %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
