<nav class="navbar-fixed-top">
  <div class="navbar-wagon">
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag "PUPP.svg", class: "navbar__logo" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-user"></i>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-cog"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="navbar-wagon-right hidden-xs hidden-sm">
        <button class="btn-signup">Sign up</button>
        <button class="btn-signup">Log in</button>
      </div>
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Some mobile link</a></li>
            <li><a href="#">Other one</a></li>
            <li><a href="#">Other one</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="banner">
  <%= image_tag "PUPP.svg", class: "banner__image" %>
  <div class="banner__intro">
    Welcome to Pupp, the cuttest puppies are waiting to for you. Set play dates with any listed puppy. It doesn't matter if you're looking for joy or a cure for sadness, puppy cuteness is always the solution.
  </div>
  <button id=btn-5 >
    Choose a puppy
  </button>
</div>
<div class='container'>
  <div id='row'>
    <div class="cards-container">
      <% @puppies.each do |puppy| %>
      <div class="col-xs-12 col-sm-4">
        <div style="background-image: url(<%= puppy.photo %>)" class="card-div"  >
          <div class="card-title">
            <%= puppy.name.capitalize%>
          </div>

          <div class="card-icons">
            <div>
              <%= link_to "<i class='fas fa-plus'></i>".html_safe, puppy_path(puppy) %>
            </div>
            <div>
              <%= link_to "<i class='fas fa-heart'></i>".html_safe, puppy_path(puppy) %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
