<div class="profile-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)">
  <div class="banner-content">
    <h1>Profile Information</h1>
  </div>
</div>

<p><%= @user.photo %></p>

<div class="effect6">
  <div>
    <h4><%= @user.name %></h2>
    <p><%= @user.address %></p>
    <p><%= @user.phone_number %></p>
    <p><%= @user.email %></p>
  </div>
  <div>
    <a href="#" class="btn-treehouse">Add Profile Information</a>
  </div>
<div>

  </div>
</div>

<div class="tabs">
  <a class="tab active" href="#">
    <h3>My Puppies</h3>
  </a>
  <a class="tab" href="#">
    <h3>My Puppy Bookings</h3>
  </a>
</div>

<div class="results">
  <% @user.owned_puppies.each do |puppy| %>
    <img class="avatar-large" src=<%= puppy.photo %> alt="">
    <ul>
      <li>Name: <%= puppy.name %></li>
      <li>Age: <%= puppy.age %></li>
      <li>Gender: <%= puppy.gender %></li>
    </ul>
  <% end %>
  <a href="#" class="btn-pupp">Add a Puppy</a>
</div>

<div class="results">
  <% @user.booked_puppies.each do |puppy| %>
    <img src=<%= puppy.photo %> alt="">
    <ul>
      <li>Name: <%= puppy.name %></li>
      <li>Age: <%= puppy.age %></li>
      <li>Gender: <%= puppy.gender %></li>
    </ul>
</div>
<% end %>
