<div>
  <div class="bannvatar">
    <div class= "bannvatar__banner" style="background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(http://www.placepuppy.net/<%=rand(1..20)%>p/1300/600)"></div>
    <div class="bannvatar__image" style="background-image: url(<%= @user.photo %>)"></div>
  </div>
</div>

  <div class="info">
    <div class="info__header">
      <h1>Your Profile Information</h1>
    </div>
    <div class="info__list">
     <ul>
      <% @user.update!(phone_number:Faker::PhoneNumber.phone_number) if @user.phone_number.nil?  %>
      <% @user.update!(address:Faker::Address.full_address) if @user.address.nil?  %>
       <li><strong>Name: </strong><%= @user.name.capitalize %></li>
       <li><strong>Email: </strong><%= @user.email %></li>
       <li><strong>Phone: </strong><%= @user.phone_number %></li>
       <li><strong>Address: </strong><%= @user.address %></li>
     </ul>
   </div>
   <div class="info__button">
    <%= link_to "Add a Puppy", new_puppy_path, class:"btn_pupp" %>
   </div>
  </div>

<div id="profile_page_container">
  <div class='my_puppies_container'>
    <h3>My Puppies</h3>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Babysitter</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <% @user.owned_puppies.each do |puppy| %>
          <tr>
            <td><%= link_to puppy.name, puppy_path(puppy) %></td>
            <% if puppy.booked %>
              <td><%= link_to puppy.bookings.first.booker.name, user_profile_path(puppy.bookings.first.booker.id) %></td>
            <% else %>
              <td>None</td>
            <% end %>
            <% if puppy.booked %>
              <% if puppy.bookings.first.status == 'pending' %>
                <td>
                  <%= link_to 'Accept', accept_booking_path(puppy, puppy.bookings.first) %>
                  <%= link_to 'Reject', reject_booking_path(puppy, puppy.bookings.first) %>
                </td>
              <% elsif puppy.bookings.first.status == 'accepted' %>
                <td>Accepted</td>
              <% else %>
                <td>Rejected</td>
              <% end %>
            <% else %>
              <td>None</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='babysitting_container'>
    <h3>Babysitting</h3>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>At</td>
          <td>Location</td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <% @user.booked_bookings.each do |booking| %>
          <tr>
            <td><%= booking.puppy.name %></td>
            <td><%= "#{booking.starts_at.strftime('%H:%M')} - #{booking.ends_at.strftime('%H:%M')}"%></td>
            <td><%= booking.puppy.user.address %></td>
            <% if booking.status == 'pending' %>
              <td>Pending</td>
            <% elsif booking.status == 'accepted' %>
              <td>Accepted</td>
            <% else %>
              <td>Rejected</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
