<div class="profile-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)">
  <div class="banner-content">
    <h1>Profile Information</h1>
  </div>
</div>

<p><%= @user.photo %></p>

<div class="description">
  <div>
    <h4><%= @user.name %></h2>
    <p><%= @user.address %></p>
    <p><%= @user.phone_number %></p>
    <p><%= @user.email %></p>
  </div>
<div>

  </div>
</div>

<div class="tabs">
  <a class="tab active" href="#">
    <h3>Puppies</h3>
  </a>
  <a class="tab" href="#">
    <h3>Bookings</h3>
  </a>
</div>

<% @user.owned_puppies.each do |puppy| %>
  <img class="avatar-large" src=<%= puppy.photo %> alt="">
  <ul>
    <li>Name: <%= puppy.name %></li>
    <li>Age: <%= puppy.age %></li>
    <li>Gender: <%= puppy.gender %></li>
  </ul>
<% end %>




<h4>My Booked Puppies</h4>
<% @user.booked_puppies.each do |puppy| %>
  <img src=<%= puppy.photo %> alt="">
  <ul>
    <li>Name: <%= puppy.name %></li>
    <li>Age: <%= puppy.age %></li>
    <li>Gender: <%= puppy.gender %></li>
  </ul>
<% end %>
